---
import Card from "../components/Card.astro";

import Layout from "../layouts/Layout.astro";

import { LocationMenuImages } from "../data/MenuImages"

const barcImage = LocationMenuImages.barcImage
---

<Layout title="Barcelona | Now Departing">
    <main>
        <Card
            image={barcImage}
            height={900}
            href="/barcelona"
            title="Barcelona"
            transitionName="barcelona"
        />
        <article>
            <p class="eyebrow">
                <a href="/barcelona">Barcelona, Spain Travel Guide</a>
            </p>
            <h2>What to Wear in Barcelona In September</h2>

            <section>
                <h4>Trip Summary</h4>
                <p>
                    First off, Barcelona is a stylish place. You're going to
                    want to leave your inclination to blend in at home. Stop
                    scouring TikTok for European vacation fits and boldly do
                    you, like Barcelona does it.
                </p>
                <div class="content-with-quote">
                    <p>
                        This is the perfect city and season to take long
                        strolls, enjoy culinary excellence, unrushed, and let
                        the art and architecture change you a bit. The history
                        is facinating and there's an interesting mix of
                        progressive and conservative culture. Service everywhere
                        was on-point and quite friendly.
                    </p>
                    <blockquote>
                        <p>
                            "honestly, the style is just as eclectic as in
                            brooklyn just more … euro? i would say, pack what
                            makes you feel cool and fit and you'll look 🔥."
                        </p>
                        <footer>
                            <cite
                                ><a href="#">Tatiana Peck</a>, Barcelona Born
                                Brooklynite</cite
                            >
                        </footer>
                    </blockquote>
                </div>
            </section>
            <section>
                <h4>Locations in This Article</h4>
                <p>
                    We've curated our top picks of shops, restaurants, and
                    cultural destinations. See our Walking Tours to experience
                    our favorites.
                </p>
                <!-- <iframe
                    width="600"
                    height="450"
                    referrerpolicy="no-referrer-when-downgrade"
                    src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAdYLMcYWLg2polgJA55_ms_Dde9XyMKbQ
                        &q=Barcelona,Spain"
                >
                </iframe> -->
                <iframe
                    src="https://www.google.com/maps/d/u/0/embed?mid=1os2iIcn02sp3VBhO1XpAFaje79X7hAE&ehbc=2E312F"
                    width="600"
                    height="450"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
            </section>
        </article>
    </main>
</Layout>

<style>
    main {
        display: flex;
    }
    .eyebrow {
        font-size: 0.85rem;
        margin: 0;
    }
    article {
        margin-left: 3rem;
        overflow: scroll;
    }
    .content-with-quote {
        display: flex;
    }
    article h4,
    article h3,
    article h2,
    article p {
        max-width: 600px;
    }
    h2 {
        margin-top: 0;
        font-weight: 400;
        font-size: 3rem;
        line-height: 1;
    }
    article {
        height: calc(100vh - 150px);
    }
    blockquote {
        font-size: 0.85rem;
        font-weight: normal;
        font-style: italic;
        max-width: 300px;
        border-left: 1px solid #ddd;
        padding-left: 1rem;
        margin-right: 0;
    }
    article ul {
        column-count: 2;
        font-size: 0.85rem;
        margin-bottom: 2.5rem;
        margin-top: 0;
    }
    li span {
        font-weight: 500;
    }
    h5 {
        font-weight: 400;
    }
</style>
