---
import Card from "../components/Card.astro";

import Layout from "../layouts/Layout.astro";

import { LocationMenuImages } from "../data/MenuImages"

const barcelona = LocationMenuImages.barcelona
const { artistName, url } = barcelona
---

<Layout title="Barcelona | Now Departing NYC">
    <main class="headerOffset">
        <div class="left-rail">
            <Card
                image={barcelona}
                height={900}
                href="/barcelona"
                title="Barcelona"
                transitionName="barcelona"
                hideTitle
            />
            { artistName && url &&
                <small class="imageCredit"><a href={url} target="_blank" rel="nofollow noreferrer noopener">{barcelona.alt}</a></small>
            }
        </div>
        <article class="article">
            <p class="eyebrow">A travel guide for</p>
            <h1>Barcelona, Spain</h1>
            <p class="list-intro">Based on our trip from NYC</p>
            <ul>
                <li><strong>Month:</strong> September</li>
                <li>
                    <strong>Weather:</strong> Mid 60s, high 70s, sunny, light rain
                </li>
                <li><strong>Planning Needed:</strong> Light</li>
                <li><strong>Travel Mode:</strong> Foot, Metro, Train</li>
                <li><strong>Safety:</strong> Very safe</li>
                <li><strong>Cost:</strong> Moderate</li>
                <li><strong>Duration:</strong> 9 days</li>
                <li><strong>Year:</strong> 2023</li>
            </ul>
            <section>
                <h2>First Impression</h4>
                <p>
                    Barcelona is a unique and stylish place. You're going to
                    want to leave your inclination to blend in at home. Stop
                    scouring TikTok for European vacation outfits, and show up
                    as your bold one-of-a-kind self, like Barcelona does.
                </p>
                <h2>What You'll Find</h4>
                <p>
                    This is the perfect city to enjoy long strolls, culinary
                    excellence, art and architecture. <a
                        href="https://en.wikipedia.org/wiki/History_of_Barcelona"
                        target="_blank"
                        rel="noreferrer nofollow noopener">Barcelona's history</a
                    > is facinating, and there's an interesting mix of
                    progressive and conservative culture. Folks are friendly,
                        service is on-point and metros are clean.
                </p>
            </section>
            <section>
                <h2>Hot Spots</h4>
                <p>
                    We've curated our top picks of shops, restaurants, and
                    cultural destinations below. Missed something? DM me.
                </p>
                <iframe
                    src="https://www.google.com/maps/d/u/0/embed?mid=1os2iIcn02sp3VBhO1XpAFaje79X7hAE&ehbc=2E312F&noprof=1"
                    width="600"
                    height="450"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
            </section>
        </article>
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        padding: 0 28px;
    }
    @media screen and (min-width: 768px) {
        main {
            flex-direction: row;
        }
    }

    aside {
        /* font-size: 0.85rem; */
        font-weight: normal;
        font-style: italic;
        max-width: 300px;
    }
</style>
