---
import Card from "../components/Card.astro";

import Layout from "../layouts/Layout.astro";

import { LocationMenuImages } from "../data/MenuImages"

const barcImage = LocationMenuImages.barcImage
const { artistName, url } = barcImage
---

<Layout title="Barcelona | Now Departing">
    <main>
        <div>
            <Card
                image={barcImage}
                height={900}
                href="/barcelona"
                title="Barcelona"
                transitionName="barcelona"
                hideTitle
            />
            { artistName && url &&
                <small class="imageCredit"><a href={url} target="_blank" rel="nofollow noreferrer noopener">{barcImage.alt}</a></small>
            }
        </div>
        <article>
            <p class="eyebrow">A travel guide for</p>
            <h1>Barcelona, Spain</h1>
            <p class="list-intro">Based on our trip from NYC</p>
            <ul>
                <li><span>Month:</span> September</li>
                <li>
                    <span>Weather:</span> Mid 60s, high 70s, sunny, light rain
                </li>
                <li><span>Planning Needed:</span> Light</li>
                <li><span>Travel Mode:</span> Foot, Metro, Train</li>
                <li><span>Safety:</span> Very safe</li>
                <li><span>Cost:</span> Moderate</li>
                <li><span>Duration:</span> 9 days</li>
                <li><span>Year:</span> 2023</li>
            </ul>
            <section>
                <h2>First Impression</h4>
                <p>
                    Barcelona is a unique and stylish place. You're going to
                    want to leave your inclination to blend in at home. Stop
                    scouring TikTok for European vacation outfits, and show up
                    as your bold one-of-a-kind self, like Barcelona does.
                </p>
                <h2>What You'll Find</h4>
                <p>
                    This is the perfect city to enjoy long strolls, culinary
                    excellence, art and architecture. <a
                        href="https://en.wikipedia.org/wiki/History_of_Barcelona"
                        target="_blank"
                        rel="noreferrer nofollow noopener">Barcelona's history</a
                    > is facinating, and there's an interesting mix of
                    progressive and conservative culture. Folks are friendly,
                     service is on-point and metros are clean.
                </p>
            </section>
            <section>
                <h2>Hot Spots</h4>
                <p>
                    We've curated our top picks of shops, restaurants, and
                    cultural destinations below. Missed something? DM me.
                </p>
                <iframe
                    src="https://www.google.com/maps/d/u/0/embed?mid=1os2iIcn02sp3VBhO1XpAFaje79X7hAE&ehbc=2E312F&noprof=1"
                    width="600"
                    height="450"
                    style="border:0"
                    loading="lazy"
                    allowfullscreen
                    referrerpolicy="no-referrer-when-downgrade"
                    ></iframe>
            </section>
        </article>
        <!-- <nav>
            <h3>Coming soon in this guide:</h5>
            <ul>
                <li><a href="/article/">Cool Boutiques in Barcelona</a></li>
                <li><a href="">Barcelona's Best Skate Shops</a></li>
                <li>
                    <a href="">Curated Book & Magazine Stores in Barcelona</a>
                </li>
                <li><a href="">Exceptional Restaurants in Barcelona</a></li>
                <li><a href="">Must-Try Desserts in Barcelona</a></li>
                <li>
                    <a href=""
                        >A Day in Gothic Quarter, Barcelona, Self-Guided Walking
                        Tour</a>
                </li>
                <li>
                    <a href=""
                        >A Day in Eixample, Barcelona, Self-Guided Walking Tour</a>
                </li>
                <li>
                    <a href="">Must See Architecture and Art in Barcelona</a>
                </li>
                <li>
                    <a href="">Top 10 Must-Knows Before You Visit Barcelona</a>
                </li>
                <li><a href="">What to Wear in Barcelona In September</a></li>
            </ul>
        </nav> -->

        <!-- <div>
            <blockquote>
                <p>"honestly, the style is just as eclectic as in brooklyn just more … euro? i would say, pack what makes you feel cool and fit and you'll look 🔥."</p>
                <footer>
                    <cite>Tatiana Peck, Barcelona Born Brooklynite</cite>
                </footer>
            </blockquote>
        </div> -->
    </main>
</Layout>

<style>
    main {
        display: flex;
        flex-direction: column;
        padding: 0 28px;
    }
    @media screen and (min-width: 768px) {
        main {
            flex-direction: row;
        }
    }

    article {
        margin-top: 45px;
    }
    @media screen and (min-width: 768px) {
        article {
            margin-top: 0;
            margin-left: 3rem;
            max-width: 600px;
            overflow: scroll;
        }
        nav,
        article {
            height: calc(100vh - 150px);
        }
    }

    h1 {
        font-weight: 200;
        margin-top: 0;
        margin-left: -5px;
    }
    h2 {
        margin-top: 45px;
    } 
    small {
        display: block;
        margin-top: 11px; 
    }
    nav {
        max-width: 400px;
        margin-left: 3rem;
        overflow: scroll;
    }
    aside {
        /* font-size: 0.85rem; */
        font-weight: normal;
        font-style: italic;
        max-width: 300px;
    }
    iframe {
        width: 100%;
    }
    @media screen and (min-width: 768px) {
        iframe {
            width: 600px;
        }
    }
    /* blockquote { */
        /* border-left: 1px solid #ddd;
        padding-left: 1rem;
        margin-right: 0;
    } */
    article ul {
        column-count: 2;
        margin-bottom: 63px;
        margin-top: 0;
        margin-left: 0;
    }
    @media screen and (min-width: 768px) {
        article ul {
            margin-left: ;
        }
    }
    li span {
        font-weight: 500;
    }
    .eyebrow {
        margin: 0;
    }
    .list-intro {
        margin-bottom: 17px;
    }
    .card-title {
        font-size: 16px; 
        line-height: 28px;
    }
</style>
