---
import CardContent from "./CardContent.astro";

const {
  comingSoon = false,
  href,
  responsive,
  transitionName,
  ...rest
} = Astro.props;

const contentProps = {
  comingSoon,
  responsive,
  transitionName,
  ...rest,
};
---

<div class:list={["card-container", { responsive }]}>
  {
    comingSoon ? (
      <div class:list={[{ "coming-soon": comingSoon }]}>
        <div class="coming-soon-badge">Coming Soon</div>
        <CardContent {...contentProps} />
      </div>
    ) : (
      <a
        href={href}
        transition:name={`${transitionName}-card`}
        class="card-link"
      >
        <CardContent {...contentProps} />
      </a>
    )
  }
</div>

<style>
  .card-container {
    width: 70vw;
  }
  .card-container.responsive {
    width: 100%;
  }
  @media screen and (min-width: 768px) {
    .card-container {
      width: 22vw;
    }
  }
  .coming-soon {
    position: relative;
  }
  .coming-soon-badge {
    opacity: 0;
    position: absolute;
    z-index: 1;
    transition: opacity 0.5s;
    border-radius: 100%;
    background: pink;
    width: 100px;
    height: 100px;
    right: var(--space-m);
    top: var(--space-m);
    text-align: center;
    display: flex;
    align-items: center;
    line-height: 23px;
    rotate: 15deg;
  }
  .coming-soon:hover .coming-soon-badge {
    opacity: 1;
  }
  .card-link {
    text-decoration: none;
    perspective: 25px;
    display: block;
  }
</style>
