---
import InstagramIcon from "../components/InstagramIcon.astro";
---
<a
class="social-icon"
href="https://www.instagram.com/brittneykernan"
target="_blank"
rel="nofollow noreferrer noopener"
><InstagramIcon /></a>