---
import { Image } from "astro:assets";

import { LocationMenuImages } from "../data/MenuImages";

const {
  frontmatter: { title, guide, description },
  url,
} = Astro.props;

const locationImage = LocationMenuImages[guide];
---

<h3>Next Up</h3>
<a class="link" href={url}>
  <Image class="image" {...locationImage} />
  <div class="content">
    <h4 class="title">{title}</h4>
    <p class="description">{description}</p>
  </div>
</a>
<style>
  .link {
    display: flex;
    gap: var(--space-m);
    text-decoration: none;
    justify-content: center;
  }
  .content {
    display: flex;
    flex-direction: column;
    gap: var(--space-xs);
    justify-content: center;
  }
  .image {
    height: 100px;
    width: auto;
    margin-bottom: 0;
  }
  .title {
    margin: 0;
    text-decoration: underline;
  }
  .description {
    margin: 0;
  }
</style>
