---
import InstagramLink from "../components/InstagramLink.astro";
import TiktokLink from "../components/TikTokLink.astro";
---

<h3>Thanks for reading</h3>
<p>
  If you have corrections or suggestions, please DM me on social
  <InstagramLink />
  <TiktokLink />.
</p>
<p>
  I hope you find our recommendations useful. Our travel guides are meant to
  assist folks with similar interests and tastes as my husband and I, somewhat
  bougie, somewhat thrifty millennial DINKs with Brooklyn-quality expectations,
  to find relevant travel information in one place.
</p>
<style>
  h3 {
    margin-top: var(--space-xl);
  }
</style>
