---
import TikTokIcon from "./TikTokIcon.astro";
import { AppConfig } from "../utils/AppConfig";

const url = AppConfig.tiktok
---
<a
	class="social-icon"
	href={url}
	target="_blank"
	rel="nofollow noreferrer noopener"
><TikTokIcon /></a>