---
import "@fontsource/montserrat/100.css";
import "@fontsource/montserrat/200.css";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/600.css";

import { Image } from "astro:assets";
import { ViewTransitions } from "astro:transitions";

import profile from "../assets/profile.jpg";
import InstagramIcon from "../components/InstagramIcon.astro";
import TiktokIcon from "../components/TiktokIcon.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-SS7Y3ZEB5P"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-SS7Y3ZEB5P');
	</script>
	<body>
		<header>
			<h1 class="title">
				<a href="/" title="Home">Now Departing NYC</a>
			</h1>
			<a href="https://www.instagram.com/brittneykernan" rel="noopener nofollow noreferrer" target="_blank" class="about" title="about">
				<Image src={profile} height="200" alt="About" />
			</a>
		</header>
		<main>
			<slot />
		</main>
		<footer>
			<p>&copy; 2023 Brittney Kernan. All Rights Reserved.</p>
			<p>
				<a
					class="social-icon"
					href="https://www.instagram.com/brittneykernan"
					target="_blank"
					rel="nofollow noreferrer noopener"
				>
					<InstagramIcon />
				</a>
				<a
					class="social-icon"
					href="https://www.tiktok.com/@brittneykernan"
					target="_blank"
					rel="nofollow noreferrer noopener"
				>
					<TiktokIcon />
				</a>
			</p>
		</footer>

		<style is:global>
			:root {
				--body-copy: #333;
				--accent: 136, 58, 234;
				--accent-light: 224, 204, 250;
				--accent-dark: 49, 10, 101;
				--accent-gradient: linear-gradient(
					45deg,
					rgb(var(--accent)),
					rgb(var(--accent-light)) 30%,
					white 60%
				);
			}
			html {
				font-family: "Montserrat", sans-serif;
				background: #fefefe;
				color: var(--body-copy);
				font-size: 16px;
				line-height: 28px;
			}
			body {
				margin: 0;
			}
			a {
				color: var(--body-copy);
			}
			ul {
				padding-left: 0;
				list-style: none;
			}

			/** Golden Ratio CSS from https://grtcalculator.com/ */
			/* h1 { font-size: 33px; line-height: 53px;  font-weight: 500; margin-top: 45px; margin-bottom: 28px; } */
			h1 {
				font-size: 42px;
				line-height: 55px;
				font-weight: 200;
				margin-top: 0;
				margin-bottom: 28px;
			}
			h2 {
				font-size: 26px;
				line-height: 42px;
				font-weight: 200;
				margin-top: 45px;
				margin-bottom: 17px;
			}
			h3 {
				font-size: 20px;
				line-height: 33px;
				font-weight: 200;
				margin-top: 28px;
				margin-bottom: 11px;
			}
			h4 {
				font-size: 16px;
				line-height: 28px;
				font-weight: 200;
				margin-bottom: 7px;
			}

			h1 + h2,
			h2 + h3,
			h2:first-child,
			h3:first-child {
				margin-top: 0;
			}
			h3:first-child {
				font-weight: 500;
			}
			p,
			ul,
			ol,
			blockquote,
			pre,
			img,
			.callout,
			.caption,
			.footnotes {
				margin-bottom: 28px;
			}
			ul,
			ol {
				margin-left: 28px;
			}
			ul ul,
			ul ol,
			ol ul,
			ol ol {
				margin-top: 11px;
				margin-bottom: 0;
				margin-left: 17px;
			}
			li {
				margin-bottom: 11px;
			}
			blockquote {
				font-style: italic;
				border-left: 1px solid #ddd;
				padding: 0 1rem;
				color: #828282;
			}
			sub,
			sup {
				line-height: 0.5em;
				color: #828282;
				padding: 0 1px;
			}
			small {
				font-size: 13px;
				line-height: 23px;
			}

			/* markdown article styles */

			.left-rail {
				position: fixed;
				top: 128px;
				left: 24px;
			}

			.article {
				margin-top: 45px;
			}
			@media screen and (min-width: 768px) {
				.article {
					margin-top: 0;
					margin-left: 330px;
					max-width: 600px;
				}
				nav,
				.article {
				}
			}
			.imageCredit {
				display: block;
				margin-top: 11px; 
			}
			.article p:first-child {
				margin: 0;
			}
			.article h1 {
				margin-top: 5px;
			}
			.article h2 {
				margin-top: 45px;
			} 
			.article ul {
				column-count: 2;
				margin-bottom: 63px;
				margin-top: 0;
				margin-left: 0;
			}
			@media screen and (min-width: 768px) {
				.article ul {
					margin-left: ;
				}
			}
			.article ul strong {
				font-weight: 500;
			}

			.article iframe {
				width: 100%;
			}
			@media screen and (min-width: 768px) {
				.article iframe {
					width: 600px;
				}
			}
			.list-intro {
				margin-bottom: 17px;
			}
		</style>
		<style>
			header {
				padding: 17px 28px 0;
				display: flex;
				justify-content: space-between;
				align-items: center;
				margin-bottom: 17px;
				position: fixed;
				top: 0;
				right: 0;
				left: 0;
				z-index: 1;
			}
			@media screen and (min-width: 768px) {
				.container {
					padding;
				}
				header {
					padding-top: 28px;
					margin-bottom: 45px;
				}
			}
			main {
				margin-top: 128px;
			}
			footer {
				padding: 0 2rem 2rem;
				font-size: 13px;
				line-height: 23px;
				margin-top: 45px;
			}
			footer p {
				margin: 7px 0;
			}

			.title {
				font-size: 1.4rem;
				font-weight: 500;
				margin-top: 0;
				margin-bottom: 3rem;
				margin-bottom: 0;
			}
			.title a {
				text-decoration: none;
			}
			.tagline {
				font-size: 1rem;
			}
			.about img,
			.about {
				display: block;
			}
			.about img {
				height: 50px;
				width: 50px;
				border-radius: 100%;
				margin-bottom: 0;
			}
			.social-icon {
				margin-right: 7px;
			}
		</style>
	</body>
</html>
