---
import "@fontsource/montserrat/100.css";
import "@fontsource/montserrat/200.css";
import "@fontsource/montserrat/300.css";
import "@fontsource/montserrat/400.css";
import "@fontsource/montserrat/500.css";
import "@fontsource/montserrat/600.css";

import { ViewTransitions } from "astro:transitions";

import Header from "../components/Header.astro";

interface Props {
	title: string;
}

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<ViewTransitions />
	</head>
	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-SS7Y3ZEB5P"></script>
	<script>
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		gtag('js', new Date());

		gtag('config', 'G-SS7Y3ZEB5P');
	</script>
	<body>
		<Header />
		<div class="headerOffset">
			<slot />
		</div>

		<style is:global>
			:root {
				--body-copy: #333;
				--padding-x: var(--space-xl);
				--header-height: 128px;
				--main-width: 600px;
				--left-rail-width: 22vw;

				/** From Golden Ratio CSS from https://grtcalculator.com/ */
				--space-xl: 45px;
				--space-l: 28px;
				--space-m: 17px;
				--space-s: 11px;
				--space-xs: 7px;
				--space-xxs: 4px;
			}
			html {
				font-family: "Montserrat", sans-serif;
				background: #fefefe;
				color: var(--body-copy);
				font-size: 16px;
				line-height: var(--space-l);
			}
			body {
				margin: 0;
			}
			a {
				color: var(--body-copy);
			}
			ul {
				padding-left: 0;
				list-style: none;
			}
	
			/** From Golden Ratio CSS from https://grtcalculator.com/ */
			/* h1 { font-size: 33px; line-height: 53px;  font-weight: 500; margin-top: 45px; margin-bottom: var(--space-l); } */
			h1 {
				font-size: 42px;
				line-height: 55px;
				font-weight: 300;
				margin-top: 0;
				margin-bottom: var(--space-l);
			}
			h2 {
				font-size: 26px;
				line-height: 42px;
				font-weight: 300;
				margin-top:  var(--space-xl);
				margin-bottom: var(--space-m);
			}
			h3 {
				font-size: 20px;
				line-height: 33px;
				font-weight: 300;
				margin-top:  var(--space-l);
				margin-bottom:  var(--space-s);
			}
			h4 {
				font-size: 16px;
				line-height: var(--space-l);
				font-weight: 300;
				margin-bottom: var(--space-xs);
			}

			h1 + h2,
			h2 + h3,
			h2:first-child,
			h3:first-child {
				margin-top: 0;
			}
			p,
			ul,
			ol,
			blockquote,
			pre,
			img,
			.callout,
			.caption,
			.footnotes {
				margin-bottom: var(--space-l);
			}
			ul,
			ol {
				margin-left: var(--space-l);
			}
			ul ul,
			ul ol,
			ol ul,
			ol ol {
				margin-top: var(--space-s);
				margin-bottom: 0;
				margin-left: var(--space-m);
			}
			li {
				margin-bottom: var(--space-s);
			}
			blockquote {
				font-style: italic;
				border-left: 1px solid #ddd;
				padding: 0 1rem;
				color: #828282;
			}
			sub,
			sup {
				line-height: 0.5em;
				color: #828282;
				padding: 0 1px;
			}
			small {
				font-size: 13px;
				line-height: 23px;
			}

			@media screen and (min-width: 768px) {
				.headerOffset {
					margin-top: var(--header-height);
				}
			}

			/* markdown article styles */
			@media screen and (min-width: 768px) {
				.left-rail {
					width: var(--left-rail-width);
					position: fixed;
					top: var(--header-height);
					left: var(--padding-x);
				}
			}

			.article {
				margin-top: var(space-xl);
			}
			@media screen and (min-width: 768px) {
				.article, 
				.right-rail {
					margin-top: 0;
					margin-left: calc(var(--left-rail-width) + var(--padding-x) + var(--padding-x));
					max-width: var(--main-width);
				}
			}
			@media screen and (min-width: 1260px) {
				.right-rail {
					width: calc(100% - var(--left-rail-width) - var(--main-width) - var(--padding-x) - var(--padding-x) - var(--padding-x));
					max-width: 400px;
					overflow: scroll;
					position: fixed;
					top: var(--header-height);
					right: var(--padding-x);
				}

			}
			.guide-nav ul {
				margin-left: 0;
			}
			.imageCredit {
				display: block;
				margin-top: var(--space-s); 
			}
			.article p:first-child {
				margin: 0;
			}
			.article h1 {
				margin-top: 5px;
			}
			.article h2 {
				margin-top: var(--space-xl);
			} 
			.article ul {
				column-count: 2;
				margin-bottom: 63px;
				margin-top: 0;
				margin-left: 0;
			}
			@media screen and (min-width: 768px) {
				.article ul {
					margin-left: ;
				}
			}
			.article ul strong {
				font-weight: 500;
			}

			.article iframe {
				width: 100%;
			}
			@media screen and (min-width: 768px) {
				.article iframe {
					width:  var(--main-width);
				}
			}
			.list-intro {
				margin-bottom: var(--space-m);
			}
		</style>
		<style>
			@media screen and (min-width: 768px) {
				.container {
					padding;
				}
			}
			.tagline {
				font-size: 1rem;
			}
			.social-icon {
				margin-right: var(--space-xs);
			}
		</style>
	</body>
</html>
